<?xml version="1.0"?>
<robot xmlns:xacro="http://www.ros.org/wiki/xacro">


<xacro:macro name="puzzlebot_control" params="prefix">
    <gazebo>

        <!--<plugin name="DiffDynamicPlugin" filename="libDiffDynamicPlugin.so">
                <leftJoint>${prefix}wheel_left_joint</leftJoint>
                <rightJoint>${prefix}wheel_right_joint</rightJoint>
                <cmd_R_topic>${prefix}VelocitySetR</cmd_R_topic>
                <cmd_L_topic>${prefix}VelocitySetL</cmd_L_topic>
                <cmd_vel_topic>${prefix}cmd_vel</cmd_vel_topic>
                <enc_R_topic>${prefix}VelocityEncR</enc_R_topic>
                <enc_L_topic>${prefix}VelocityEncL</enc_L_topic>
                <robot_vel_topic>${prefix}robot_vel</robot_vel_topic>
                <mot_Vmax>5</mot_Vmax>
                <mot_J>0.0005</mot_J>
                <mot_R>2</mot_R>
                <mot_L>0.01</mot_L>
                <mot_K>0.01</mot_K>
                <mot_b>0.00001</mot_b>
                <mot_gear>34</mot_gear>
                <robot_width>0.19</robot_width>
                <wheel_radius>0.05</wheel_radius>
                <pid_Kp>0.1</pid_Kp>
                <pid_Ti>0.05</pid_Ti>
                <pid_Td>0</pid_Td>
                <input_type>1</input_type>
                <rate>100</rate>
        </plugin>-->


        <plugin filename="gz-sim-diff-drive-system" name="gz::sim::systems::DiffDrive">
            <odom_publisher_frequency>50</odom_publisher_frequency>
            <left_joint>${prefix}wheel_left_joint</left_joint>
            <right_joint>${prefix}wheel_right_joint</right_joint>
            <wheel_separation>0.19</wheel_separation>
            <wheel_radius>0.05</wheel_radius>
            <topic>cmd_vel</topic>
            <tf_topic>tf</tf_topic>
            <odom_topic>odom</odom_topic>
            <frame_id>odom</frame_id>
            <child_frame_id>base_footprint</child_frame_id>
            <max_angular_acceleration>1.8</max_angular_acceleration>
            <max_angular_velocity>13.0</max_angular_velocity>
        </plugin>
    
        
        <plugin filename="gz-sim-joint-state-publisher-system" name="gz::sim::systems::JointStatePublisher">
            <topic>${prefix}joint_states</topic>
            <update_rate>50</update_rate>
            <joint_name>${prefix}wheel_right_joint</joint_name>
            <joint_name>${prefix}wheel_left_joint</joint_name>
        </plugin>


        <plugin
                filename="gz-sim-sensors-system"
                name="gz::sim::systems::Sensors">
                <render_engine>ogre2</render_engine>
        </plugin>

        <!--<plugin filename="gz-sim-odometry-publisher-system" name="gz::sim::systems::OdometryPublisher">
        <odom_frame>world</odom_frame>
        <robot_base_frame>${prefix}base_footprint</robot_base_frame>
        <odom_publish_frequency>50</odom_publish_frequency>
        <odom_topic>${prefix}ground_truth</odom_topic>
        <tf_topic>tf</tf_topic>
        <dimensions>2</dimensions>
        </plugin>-->

    </gazebo>

</xacro:macro>

</robot>